/*   -----------------------------      HEADER       --------------------------  */

header {
    text-align: center ;
    background-color: #F05D3B ;
    padding-top: 2%;
}
header img {
    margin-bottom: 10%;
}


/*  -------------------------------     MAIN   ------------------------------------  */

main {
    background-color: #FA8654 ;
    padding-top: 4%;
    font-family: Cabin ;
    font-size : 1.25em ;
}
main form label input {
    display : inline-block;
}
main form label {
    display: inline-block;
}
main #subscribe {
    padding-top: 4%;
    padding-bottom: 4%;
}
main .titre_modif {
    font-weight: bold ; 
}

#dropfile{
width: 100%;
border: 3px solid #F05D3B;
line-height:50px;
text-align: center;
background-color: white;
margin-bottom: 2em;
}

/*    -----------------------------    FOOTER        ------------------------------   */

footer {
    background-color: #F05D3B ;
    padding-top: 4%;
    padding-bottom: 4%;
}
